body{
	font-family: Georgia;
	background-color: #FA8072;
}

h1{
	text-align: center;
	background-color: blue;
	color: red;
	font-style: : oblique;
}

fieldset{
	border: 3px double #333;
	color: blue;
	font-size: 20px;
	margin: 10px 0 0 0;

}

label{
	display: block;
	margin: 10px 0 0 0;
}

input[type=text],textarea{
	width: 100%;
	border: 1px solid #333;
	padding: 3px;
	border-radius: 5px;
}

input[type=submit]{
	float: right;
	clear: both;
	background-color: blue;
	color:#DC143C;
	font-size: 22px;

}

table{
	width: 100%;
}

table th{
	background-color: #0000CD;
	font-size: 18px;
	color: #DC143C;
}

table td{
	border-bottom: 1px solid #333;
	color: black; 
	font-size: 20px;
}